form {
    max-width: 600px;
}
.userDetail {
    margin-bottom: 20px;
}

.row > div {
    padding-bottom: 10px;
}

.btn_group {
    margin-top: 20px;
    max-width: 400px;
}
.searchInput {
    position: sticky;
    top: 0;
    width: 100%;
    border: none;
    margin-bottom: 5px;
    padding: 10px;
    z-index: 1;
}
.toggleBtn {
    height: fit-content;
    background-color: #fff;
}


@media screen and (min-width: 545px) {
}

@media screen and (min-width: 768px) {
    .userDetail {
        margin-bottom: 20px;
    }
    .btn_group {
        margin-top: 40px;
    }
    .cancel_btn,
    .submit_btn {
        width: calc(50% - 10px);
    }
}

@media screen and (min-width: 992px) {
}

@media screen and (max-width: 540px) {

    .form-control {
        font-size: 12px !important
    }
    p, span, address {
        font-size: 12px;
    }
}