.back-icon {
    padding-left: 8px !important;
    font-size: 22px !important;
}
.toolbar {
    --background: #df1744;
    --color: #fff !important;
}
.heading {
    font-size: 18px !important;
    text-align: left !important;
}
