<ion-header [mode]="'md'">
  <ion-toolbar>
    <ion-icon slot="start" name="arrow-back-outline" (click)="goback()" class="ion-margin-start"></ion-icon>
    <ion-title *ngIf="!showOTPInput">{{isSetPassword ? 'Set New' : 'Forgot'}} Password</ion-title>
    <ion-title *ngIf="showOTPInput">{{'Verify OTP'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- --------------------------------------- send otp and set password form open --------------------------- -->
  <form [formGroup]="forgotPassForm" class="ion-margin-top ion-padding" *ngIf="!showOTPInput">
    <p *ngIf="!isSetPassword">Enter your registered email of mobile number to get OTP.</p>

    <ion-row class="input-row">
      <ion-col size="12" class="emailCol" *ngIf="!isSetPassword">
        <ion-label>Registered Email or Phone <span class="validLbl">*</span></ion-label>
        <ion-item [lines]="'none'" [detail]="false" class="emailItem">
          <ion-input type="text" id="emailOrMobile" name="emailOrMobile" class="form-control" (ionInput)="emailMobileInput($event)" placeholder="Email or Mobile" formControlName="emailOrMobile" required></ion-input>
        </ion-item>
        <small class="valid-message"
          *ngIf="forgotPassForm.controls['emailOrMobile'].errors && (forgotPassForm.controls['emailOrMobile'].touched || forgotPassForm.controls['emailOrMobile'].dirty)">
          {{forgotPassForm.controls['emailOrMobile'].dirty ? "Please enter a valid value" : "Email or mobile isrequired."}}
        </small>
      </ion-col>

      <ion-col size="12" class="emailCol" *ngIf="isSetPassword">
        <ion-label>New Password <span class="validLbl">*</span></ion-label>
        <ion-item [lines]="'none'" [detail]="false" class="passwordItem">
          <ion-input [type]="showPassword ? 'text' : 'password'" id="password" class="password_input border-0 w-100" name="password" placeholder="New Password" formControlName="password" required></ion-input>
          <span class="eye_toggle pointer" (click)="this.showPassword = !this.showPassword" [slot]="'end'">
            <ion-icon [name]="!showPassword ? 'eye-off' : 'eye'"></ion-icon>
          </span>
        </ion-item>
        <small class="valid-message" *ngIf="forgotPassForm.controls['password'].errors && (forgotPassForm.controls['password'].touched || forgotPassForm.controls['password'].dirty)">{{forgotPassForm.controls['password'].dirty ? 'Password should be contain at least 1 uppercase letter, 1 smallcase letter, 1 digit and length minimum 6.' : 'Password is required'}}</small>
      </ion-col>

      <ion-col size="12" class="emailCol" *ngIf="isSetPassword">
        <ion-label>Confirm Password <span class="validLbl">*</span></ion-label>
        <ion-item [lines]="'none'" [detail]="false" class="passwordItem">
          <ion-input [type]="showPassword2 ? 'text' : 'password'" id="confirmPassword" class="password_input border-0 w-100"
            name="confirmPassword" placeholder="Confirm Password" formControlName="confirmPassword" required></ion-input>
          <span class="eye_toggle pointer" (click)="this.showPassword2 = !this.showPassword2" [slot]="'end'">
            <ion-icon [name]="!showPassword2 ? 'eye-off' : 'eye'"></ion-icon>
          </span>
        </ion-item>
        <small class="valid-message" *ngIf="forgotPassForm.controls['confirmPassword'].errors && (forgotPassForm.controls['confirmPassword'].touched || forgotPassForm.controls['confirmPassword'].dirty)">{{forgotPassForm.controls['confirmPassword'].dirty ? 'Password should be contain at least 1 uppercase letter, 1 smallcase letter, 1 digit and length minimum 6.' : 'Password is required'}}</small>
        <small class="valid-message" *ngIf="forgotPassForm.valid && !checkSamePass()">Password didn't match.</small>
      </ion-col>
    
      <ion-col size="12" class="input-btn">
        <ion-button expand="block" color="primary" fill="solid" class="login-btn" *ngIf="!isSetPassword"
          [disabled]="forgotPassForm.invalid" (click)="getOtp()">Get OTP</ion-button>
        <ion-button expand="block" color="primary" fill="solid" class="login-btn" *ngIf="isSetPassword"
          [disabled]="forgotPassForm.invalid || !checkSamePass()" (click)="setPassword()">Set New Password</ion-button>
      </ion-col>
    </ion-row>  
  </form>
  <!-- --------------------------------------- send otp and set password form close --------------------------- -->
  
  
  <!-- ---------------------------------- verify otp ------------------------------------ -->
  <div class="otp-section ion-text-center ion-padding" *ngIf="showOTPInput">
    <ion-title [color]="'danger'" class="ion-margin fw-6">Verify OTP</ion-title>
    <ion-text>{{OTPmessage}}</ion-text>
  
    <form [formGroup]="otpForm" class="ion-margin-top ion-padding-top">
      <ion-row class="outer_row">
        <ion-col size="12">
          <div class="ion-text-center ion-margin-bottom">
            <ng-otp-input #ngOtpInput class="otp-input" (onInputChange)="enterOTP($event)"
              [config]="configOpt"></ng-otp-input>
          </div>
      
          <!-- <ion-text *ngIf="timeLeft > 1" [ngClass]="timeLeft < 10 ? 'timeLeftDanger' : ''">{{formatTime(timeLeft)}}</ion-text>
              <ion-text *ngIf="timeLeft !== -1" (click)="resendOTP()">Resend OTP</ion-text> -->
        </ion-col>
      
        <ion-col size="12">
          <ion-button [disabled]="otpForm.invalid" expand="block" color="primary" fill="solid"
            class="login-btn ion-margin-top" (click)="ValidateOTP()">Validate OTP
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>

</ion-content>

