form, .otp-section {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;

    & .input-btn {
        padding: 0px;
        --color: #df1744;
        margin-top: 10px;
    }

    & .valid-message {
        color: #df1744;
        margin-top: 10px;
        margin-left: 5px;
        display: block;
    }

    & ion-label {
        margin-bottom: 10px; display: block;
    }

    & ion-item {
        border: 2px solid #fff;
        color: #df1744;
        border-radius: 5px;
        box-sizing: border-box;
        background: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    }
    & .eye_toggle{
        font-size: 20px;
        display: flex;
        margin-left: 10px;
    }
}