<ion-header mode="md">
    <ion-toolbar class="toolbar">
        <ion-icon
            slot="start"
            name="arrow-back-outline"
            (click)="goback()"
            class="icon-cls"
        ></ion-icon>
        <ion-title class="heading">Support Form</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [formGroup]="supportFormGroup">
    <ion-item-divider mode="md">
        <ion-label class="label">Write to us</ion-label>
    </ion-item-divider>
    <div class="form-div">
        <ion-input
            required="true"
            class="input"
            formControlName="name"
            type="text"
            placeholder="Name*"
        ></ion-input>
        <ion-input
            required="true"
            class="input"
            formControlName="email"
            type="text"
            placeholder="Email*"
        ></ion-input>
        <div class="select">
          <ion-select
              mode="ios"
              placeholder="Please select a type of Query**"
              name="query_type"
              formControlName="query_type"
              [selectedText]="supportFormGroup.controls.query_type.value"
          >
              <ion-select-option *ngFor="let query of queryType">
                  {{query}}
              </ion-select-option>
          </ion-select>
      </div>
        <ion-input
            class="input"
            formControlName="order_no"
            type="text"
            placeholder="Order Number(optional)"
        ></ion-input>
        <ion-textarea rows="4"
            required="true"
            class="input"
            formControlName="desc"
            type="text"
            placeholder="Description*"
        ></ion-textarea>
    </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
      <ion-row>
          <ion-col size="12" class="btn-col">
              <ion-button
                  shape="round"
                  class="buy-now"
                  (click)="addSupportForm()"
                  [disabled]="supportFormGroup.invalid"
              >
                  Submit 
              </ion-button>
          </ion-col>
      </ion-row>
  </ion-toolbar>
</ion-footer>
