<nav class="navbar navbar-expand-lg sticky-top" id="mainNav">
    <div class="container-fluid">
        <a class="navbar-brand" href="/dashboard">
            <img src="../../../assets/logos/Group 1438.png" alt="" class="nav-logo">
        </a>

        <div class="toggle_sec d-flex align-items-center">
            <a class="nav-link text-light border border-2 px-2 py-1 rounded-4 d-none d-sm-block d-lg-none mx-3" href="javascript:;" routerLink="/login" style="font-weight: 600;">Login | Signup</a>

            <button class="navbar-toggler px-1" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <!-- <span class="navbar-toggler-icon"></span> -->
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>

        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">

            <ul class="navbar-nav me-0 mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger active" href="/edukop">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/edukop#features">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/edukop#download">Download</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/edukop#contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="terms-and-conditions.html">T &amp; C</a>
                </li>
                <li class="nav-item d-sm-none d-lg-block">
                    <a class="nav-link js-scroll-trigger" href="javascript:;" routerLink="/login">Login | Signup</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center pt-4">
            <div class="col-lg-7">
                <div class="header-content mx-lg-0 mx-sm-auto">
                    <h1 class="mb-5" style="margin-bottom: 10px !important;"><span
                            style="color: #E51542; font-size: 30px; font-weight: 500;">Edukop</span> is an ecommerce
                        platform for facilitating buying and selling of books and stationery products for users.
                    </h1>
                    <h1 class="mb-5" style="margin-bottom: 10px !important;"> The platform offers schools to invite
                        new enrollments in few clicks.</h1>
                    <h1 class="mb-5" style="margin-bottom: 20px !important;"> The platform serves wide range of
                        stationery categories grouped by school, board, universities and competitive exams.</h1>
                    <a href="/edukop#download" class="btn btn-xl js-scroll-trigger btnsLink">Start Now for Free!</a>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="device-container">
                    <img src="../../../assets/images/edukop-front/mockup5.png" class="img-fluid" alt="mockup5">
                    <img src="../../../assets/images/edukop-front/mockup2.png" class="img-fluid" alt="mockup2">
                </div>
            </div>
        </div>
    </div>
</header>
<section class="features" id="features">
    <div class="container">
        <div class="section-heading text-center">
            <h2 style="max-width: 690px;" class="m-auto">One stop for all your Book and Stationery
                needs</h2>
            <p class="text-muted">Check out out what you can do with this app !</p>
            <hr>
        </div>
        <div class="row feature-row">
            <div class="col-lg-4 col-md-4 my-auto feature-col-1">
                <div class="device-container">
                    <img src="../../../assets/images/edukop-front/mockup4.png" width="100%" alt="modckup4">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 my-auto feature-col-2">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-12">
                            <div class="feature-item">
                                <i class="fas fa-pencil-ruler"></i>

                                <h3>Books Galore</h3>
                                <p class="text-muted">Wide range of Books, Novels, and Stationery.</p>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-12">
                            <div class="feature-item">
                                <i class="fas fa-gift"></i>
                                <h3>Exciting Offers</h3>
                                <p class="text-muted">Products available at the best prices</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 my-auto feature-col-3">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-12">
                            <div class="feature-item">
                                <i class="fas fa-school"></i>
                                <h3>Enrollment Forms</h3>
                                <p class="text-muted">Enrollment forms from various schools on your fingertips </p>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-12">
                            <div class="feature-item">
                                <i class="fas fa-book"></i>
                                <h3>Group Product</h3>
                                <p class="text-muted">Collection of products at further discounted prices</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="cta">
    <div class="cta-content">
        <div class="container d-grid">
            <h2>Stop waiting. Start shopping.</h2>
            <a href="/login" class="btn btn-xl js-scroll-trigger get_start_btn">Let's Get Started!</a>
        </div>
    </div>
    <div class="overlay"></div>
</section>

<section class="download danger-custom" id="download">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="row">
                    <div class="mx-auto">
                        <h2 class="section-heading text-lg-left text-center text-white">Discover what all the buzz
                            is about!</h2>
                        <p class="text-lg-left text-center text-white">Our app is now available on all Android
                            devices! Download now to get started!</p>
                        <p class="text-lg-left text-center text-white">Coming soon on AppStore!</p>

                        <div class="badges text-center text-lg-left" style="margin: 0 20px;">
                            <a class="badge-link" href="https://play.google.com/store/apps/details?id=com.edukop.app"
                                target="_blank"><img src="../../../assets/images/edukop-front/google-play-badge.svg"
                                    alt="Play Store"></a>
                            <!-- <a class="badge-link" href="#" target="_blank">
                                <img src="../../../assets/images/edukop-front/app-store-badge.svg" alt="Apple store">
                            </a> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 my-5 my-lg-0">
                <img src="../../../assets/images/edukop-front/discover.png" width="100%" alt="Discover">
            </div>
        </div>
    </div>
</section>

<section class="contact text-center" id="contact">
    <div class="container">
        <h2>We
            <i class="fas fa-heart"></i>
            new friends!
        </h2>
        <ul class="list-inline list-social">
            <li class="list-inline-item social-facebook">
                <a href="https://www.facebook.com/profile.php?id=100092498982387&mibextid=ZbWKwL" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
            <li class="list-inline-item social-google-plus">
                <a href="#">
                    <i class="fab fa-whatsapp"></i>
                </a>
            </li>
            <li class="list-inline-item social-twitter">
                <a href="https://www.instagram.com/edu.kop/" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
        </ul>
    </div>
</section>

<footer>
    <div class="bg-light pt-3">
        <div class="container text-start pb-3 d-sm-flex justify-content-between">
            <span>&copy; Edukop.com 2021. All Rights Reserved.</span>
            <div class="d-flex">
                <a class="pe-4 " target="_blank" href="terms-and-conditions.html">T &amp; C</a>
                <a class="" target="_blank" href="privacy-policy.html">Privacy Policy</a>
            </div>
        </div>
        <div class="footer-bootom">
            <div class="container">
                <p>315, Sai Ram Plaza
                    63 Mangal Nagar
                    Vishnu Puri Colony
                    Indore - 452001,
                    Madhya Pradesh, India
                </p>
                <p>
                    Contact : +91-888-999-8997
                </p>
            </div>
        </div>
    </div>
</footer>