.header {
    --background: #df1744;
    color: #fff !important;
  }
  .heading {
    text-align: left !important;
    font-size:18px !important;
  }
  .back-icon {
    padding-left: 8px !important;
    font-size: 22px !important;
  }
  .course-name{
    text-align: left !important;
  }
  .name{
    font-size:20px !important;
  }