.back-icon {
    padding-left: 8px !important;
    font-size: 22px !important;
}
.toolbar {
    --background: #df1744;
    --color: #fff !important;
}
.heading {
    font-size: 18px !important;
    text-align: left !important;
}
ion-card {
    margin: 3px !important;
}
p {
    font-size: 20px !important;
}
ion-card-content {
    padding: 7px 10px !important;
}
.forms-link {
    background-color: #df1744;
    font-weight: 500 !important;
    color: #fff !important;
    padding: 10px !important;
    font-size: 18px !important;
    text-align: center !important;
}
.download-class{
    color: #000 !important;
}
.ripple-parent{
    position: relative;
  overflow: hidden;
    color: #df1744 !important;
}