<ion-header mode="md">
  <ion-toolbar class="toolbar">
    <ion-icon class="back-icon" slot="start" name="arrow-back-outline" (click)="goback()"></ion-icon>
    <ion-title class="heading">Downloads</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-col size="12" class="no-products" *ngIf="downloadedData?.length < 1 && isDataLoaded">
    You have no downloads available
  </ion-col>
  <ion-card *ngFor="let data of downloadedData" (click)="openPDF(data)">
    <ion-row>
      <ion-col size="4">
        <img [src]="data.imageUrl?data.imageUrl:'/assets/images/download-png.png'" class="offer-img" />
      </ion-col>

      <ion-col size="8" class="course-name">
        <ion-label class="name"> {{ data?.name | titlecase }}</ion-label>
        <br />
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>