section {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.selectionGroup{
    margin-top: 20px;
    margin-bottom: 20px;
}
.groupBtn button {
    min-width: 80px;
}

@media screen and (min-width: 560px) {
    .formTitle {
        font-size: 1.1rem;
    }
    .selectionGroup{
        margin-top: 40px;
        margin-bottom: 20px;
    }    
    .groupBtn {
        margin-top: 30px;
    }
}