<div class="container-fluid">
    <div class="outer_sec py-1">
        <div class="section row">
            <div class="col-12 col-md-6 back_cover d-none d-md-grid">
                <img src="../../../assets/images/edukop.png" alt="Edukop">
            </div>

            <div class="forgotPassForm col-12 col-md-6 d-flex flex-column align-items-center justify-content-center">
                <!-- --------------------------------------- send otp and set password form open --------------------------- -->
                <form [formGroup]="forgotPassForm" class="mt-3" *ngIf="!showOTPInput">
                    <div class="small_logo d-md-none mx-auto mb-3">
                        <img src="../../../assets/images/edukop.png" alt="Edukop" class="img-fluid">
                    </div>
                    
                    <h1 class="danger fw-6 text-center text-md-start">{{isSetPassword ? 'Set New' : 'Forgot'}} Password</h1>
                    <p *ngIf="!isSetPassword">Enter your registered email of mobile number to get OTP.</p>

                    <div class="row userDetail">
                        <div class="col-12 pb-3" *ngIf="!isSetPassword">
                            <label for="emailOrMobile" class="mb-1">Email or Mobile <span class="danger">*</span></label>
                            <input type="text" id="emailOrMobile" name="emailOrMobile" class="form-control" (input)="emailMobbileInput($event)"
                                placeholder="Email or Mobile" formControlName="emailOrMobile" required>
                            <small class="text-danger mt-2" *ngIf="forgotPassForm.controls['emailOrMobile'].errors && (forgotPassForm.controls['emailOrMobile'].touched || forgotPassForm.controls['emailOrMobile'].dirty)">
                                {{forgotPassForm.controls['emailOrMobile'].dirty ? "Please enter a valid value" : "Email or mobile is required."}}
                            </small>
                        </div>

                        <div class="col-12 pb-3" *ngIf="isSetPassword">
                            <label for="password" class="mb-1">New Password <span class="danger">*</span></label>
                            <div class="form-control d-flex">
                                <input [type]="showPassword ? 'text' : 'password'" id="password" class="password_input border-0 w-100"
                                    name="password" placeholder="New Password" formControlName="password" required>
                                <span class="eye_toggle pointer" (click)="this.showPassword = !this.showPassword">
                                    <i class="mdi mdi-eye-off" *ngIf="!showPassword"></i>
                                    <i class="mdi mdi-eye" *ngIf="showPassword"></i>
                                </span>
                            </div>
                        
                            <small class="text-danger"
                                *ngIf="forgotPassForm.controls['password'].errors && (forgotPassForm.controls['password'].touched || forgotPassForm.controls['password'].dirty)">{{forgotPassForm.controls['password'].dirty
                                ? 'Password should be contain at least 1 uppercase letter, 1 smallcase letter, 1 digit and length minimum 6.' :
                                'Password is required'}}</small>
                        </div>
                        <div class="col-12 pb-3" *ngIf="isSetPassword">
                            <label for="confirmPassword" class="mb-1">Confirm Password <span class="danger">*</span></label>
                            <div class="form-control d-flex">
                                <input [type]="showPassword2 ? 'text' : 'password'" id="confirmPassword" class="password_input border-0 w-100"
                                    name="confirmPassword" placeholder="Confirm Password" formControlName="confirmPassword" required>
                                <span class="eye_toggle pointer" (click)="this.showPassword2 = !this.showPassword2">
                                    <i class="mdi mdi-eye-off" *ngIf="!showPassword2"></i>
                                    <i class="mdi mdi-eye" *ngIf="showPassword2"></i>
                                </span>
                            </div>
                        
                            <small class="text-danger"
                                *ngIf="forgotPassForm.controls['confirmPassword'].errors && (forgotPassForm.controls['confirmPassword'].touched || forgotPassForm.controls['confirmPassword'].dirty)">{{forgotPassForm.controls['confirmPassword'].dirty
                                ? 'Password should be contain at least 1 uppercase letter, 1 smallcase letter, 1 digit and length minimum 6.' :
                                'Password is required'}}</small>
                            <small class="text-danger" *ngIf="forgotPassForm.valid && !checkSamePass()">Password didn't match.</small>
                        </div>
                    </div>

                    <div class="d-flex align-items-center justify-content-around mx-auto btn_group">
                        <button type="submit" mat-button class="btn btn-danger submit_btn" *ngIf="!isSetPassword"
                            [disabled]="forgotPassForm.invalid" (click)="getOtp()">Get OTP</button>
                        <button type="submit" mat-button class="btn btn-danger submit_btn" *ngIf="isSetPassword"
                            [disabled]="forgotPassForm.invalid || !checkSamePass()" (click)="setPassword()">Set New Password</button>
                    </div>
                </form>
                <!-- --------------------------------------- send otp and set password form close --------------------------- -->


                <!-- ---------------------------------- verify otp ------------------------------------ -->
                <div class="otp-section d-flex flex-column" *ngIf="showOTPInput">
                    <h1 class="danger fw-6">Verify OTP</h1>
                    <p>{{OTPmessage}}</p>

                    <form [formGroup]="otpForm">
                        <div class="d-flex alogn-items-center justify-content-center">
                            <div class="otp-input-div my-3">
                                <ngx-otp-input [config]="otpInputConfig" (otpChange)="handleOtpChange($any($event))"
                                    (fill)="handleFillEvent($any($event))">
                                </ngx-otp-input>
                                <!-- <input type="number" pattern="[0-9]{6}" id="emainMobileForOTP" title="emainMobileForOTP"
                                    class="form-control" (keyup)="enterOTP($event)" formControlName="otp"> -->

                                <app-form-input-validation [form]="otpForm" class="textSmal" formInput="email"
                                    [errorMsg]="'Please enter your mobile number'"></app-form-input-validation>
                            </div>
                        </div>

                        <!-- <p *ngIf="timeLeft > 1" [ngClass]="timeLeft < 10 ? 'danger' : ''">{{formatTime(timeLeft)}}</p>
                        <a class="btn_link" href="javascript:;" *ngIf="!timeLeft || timeLeft < 1"
                            (click)="resendOTP()">Resend OTP</a> -->
                        <div class="text-center d-flex flex-column justify-content-center">
                            <button type="submit" class="btn submit_btn btn-danger" [disabled]="this.OTP.length != 6" (click)="ValidateOTP()">Validate</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>