.board-img {
    background-size: cover !important;
    background: url('../../../assets/images/default-image.jpg') center no-repeat !important;
    margin: 0px auto;
    height: 85px !important;
}
.board-name {
    color: #df1744;
    font-size: 18px !important;
}
.board-type {
    height: 30px !important;
    margin: 5px 0px !important;
    overflow: hidden !important;
}
.exam-type {
    height: 50px !important;
    margin: 5px 0px !important;
    overflow: hidden !important;
}
.image-col {
  text-align: center !important;
}
