<ion-header [mode]="'md'">
  <ion-toolbar>
    <ion-icon slot="start" name="arrow-back-outline" (click)="goback()" class="ion-margin-start"></ion-icon>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="changePassForm" class="ion-padding">
    <ion-row class="input-row">
      <ion-col size="12" class="input">
        <ion-input class="input-box" [type]="'password'" name="oldPassword" formControlName="oldPassword" placeholder="Old Password" (ionChange)="checkSamePass()"></ion-input>
      </ion-col>
      <ion-col size="12" class="input">
        <ion-input class="input-box" [type]="'password'" name="password" formControlName="password" placeholder="New Password" (ionChange)="checkSamePass()"></ion-input>
      </ion-col>
      <span class="valid-message"
        *ngIf="changePassForm.controls.password.errors && (changePassForm.controls.password.touched  || changePassForm.controls.password.dirty)">
        Password is Required
      </span>
      <span class="valid-message" *ngIf="changePassForm.valid && checkSamePass()">New password should be different.</span>
      <ion-col size="12" class="input-btn">
        <ion-button expand="block" color="primary" fill="solid" class="login-btn" (click)="submit()"
          [disabled]="changePassForm.invalid || checkSamePass()">Change Password
        </ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>
