.row-cls {
    margin: 0px auto !important;
    text-align: center !important;
}
.name {
    font-size: 18px;
}
.circle {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 46px !important;
    width: 46px !important;
    margin: 10px auto !important;
    color: #fff !important;
    border-radius: 100%;
    text-align: center;
    vertical-align: middle;
    padding-top: 12px !important;
}
.text-clss {
    font-size: 15px !important;
    color: #000 !important;
    font-weight: 700 !important;
    margin: 5px auto;
}
.course-name {
    text-align: left !important;
}
.first {
    background-image: linear-gradient(to right, #34a141, #3b634a);
}
.second {
    background-image: linear-gradient(to right, #f5df2e, #f07654);
}
.third {
    background-image: linear-gradient(to right, #09c6f9, #045de9);
}
.fourth {
    background-image: linear-gradient(to right, #ec9f05, #ff4e00);
}
.fifth {
    background-image: linear-gradient(to right, #f08efc, #ee5166);
}
.sixth {
    background-image: linear-gradient(to right, #647dee, #7f53ac);
}
.seventh {
    background-image: linear-gradient(to right, #80ced7, #007ea7);
}
.eighth {
    background-image: linear-gradient(to right, #ffa69e, #861657);
}
.ninth {
    background-image: linear-gradient(to right, #028090, #00bfb2);
}
.tenth {
    background-image: linear-gradient(to right, #f56545, #99201c);
}
.eleventh {
    background-image: linear-gradient(to right, #009ffd, #2a2a72);
}
.twelfth {
    background-image: linear-gradient(to right, #f8de7e, #d99058);
}
.thirteen {
    background-image: linear-gradient(to right, #20bf55, #01baef);
}
.fourteen {
    background-image: linear-gradient(to right, #f8de7e, #d99058);
}
.pre-school {
    background-image: linear-gradient(to right, #3dd164, #30d15b);
}
.nursery {
    background-image: linear-gradient(to right, #3ebec9, #32bdc9);
}
.lkg {
    background-image: linear-gradient(to right, #c8a5fa, #b78df2);
}
.ukg {
    background-image: linear-gradient(to right, #f56769, #f54c4e);
}
