.header {
    --background: #df1744;
    color: #fff !important;
}
.heading {
    text-align: left !important;
    font-size: 18px !important;
}
.back-icon {
    padding-left: 8px !important;
    font-size: 22px !important;
}
.search-icon {
    padding-right: 10px !important;
    font-size: 22px !important;
}
.start {
    background-color: #df1744;
}
ion-col {
    text-align: center !important;
}
ion-item-divider {
    --padding-start: 0px !important;
}
.text-clss {
    font-size: 15px !important;
    color: #000 !important;
    font-weight: 700 !important;
    margin: 5px auto;
}
.circle {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 46px !important;
    width: 46px !important;
    margin: 10px auto !important;
    color: #fff !important;
    border-radius: 100%;
    text-align: center;
    vertical-align: middle;
    padding-top: 12px !important;
}
.ion-segment-button {
    width: 200px !important;
}
.segment-div {
    border: 1px solid #efefef !important;
    width: 200px !important;
}

.board-name {
    color: #df1744;
    font-size: 18px !important;
}
.board-img {
    height: 85px !important;
}
.board-type {
    margin: 5px 0px !important;
}
.row-cls {
    margin: 0px auto !important;
    text-align: center !important;
}
.course-name {
    text-align: left !important;
}
.name {
    font-size: 20px !important;
}
.card-offers {
    margin: 10px auto 0px !important;
    border-radius: 0px !important;
}
.offer-img {
    margin: 0px auto !important;
    padding: 5px !important;
    width: 90% !important;
    height: 80px !important;
}

ion-card-content {
    padding: 6px !important;
}
.st-heading {
    text-align: left !important;
    font-size: 20px !important;
    color: #000 !important;
}
.product-name {
    color: #000 !important;
}
.slide-div {
    width: 100px !important;
}
.no-Data-found {
    margin-top: 30px !important;
    text-align: center !important;
}
.forms-link {
    background-color: #df1744;
    font-weight: 500 !important;
    color: #fff !important;
    padding: 10px !important;
    font-size: 18px !important;
    text-align: center !important;
}
