<div class="container">
    <form [formGroup]="changePassForm" class="mx-auto pb-3 d-flex flex-column justify-content-center">
        <h1 class="text-center danger">Change Password</h1>
        <div class="row userDetail mt-4">
            <div class="col-12">
                <label for="oldPassword" class="mb-1">Old Password <span class="danger">*</span></label>
                <div class="form-control d-flex">
                    <input [type]="showPassword ? 'text' : 'password'" id="oldPassword" class="password_input border-0 w-100"
                        name="oldPassword" placeholder="Old Password" formControlName="oldPassword" required>
                    <span class="eye_toggle pointer" (click)="this.showPassword = !this.showPassword">
                        <i class="mdi mdi-eye-off" *ngIf="!showPassword"></i>
                        <i class="mdi mdi-eye" *ngIf="showPassword"></i>
                    </span>
                </div>
            </div>
            <div class="col-12">
                <label for="password" class="mb-1">New Password <span class="danger">*</span></label>
                <div class="form-control d-flex">
                    <input [type]="showPassword2 ? 'text' : 'password'" id="password" class="password_input border-0 w-100"
                        name="password" placeholder="New Password" formControlName="password" required>
                    <span class="eye_toggle pointer" (click)="this.showPassword2 = !this.showPassword2">
                        <i class="mdi mdi-eye-off" *ngIf="!showPassword2"></i>
                        <i class="mdi mdi-eye" *ngIf="showPassword2"></i>
                    </span>
                </div>

                <small class="text-danger"
                    *ngIf="changePassForm.controls['password'].errors && (changePassForm.controls['password'].touched || changePassForm.controls['password'].dirty)">{{changePassForm.controls['password'].dirty ? 'Password should be contain at least 1 uppercase letter, 1 smallcase letter, 1 digit and length minimum 6.' : 'Password is required'}}</small>
                <small class="text-danger" *ngIf="changePassForm.valid && checkSamePass()">Password should be different.</small>
            </div>
        </div>

        <div class="d-flex align-items-center justify-content-around mx-auto btn_group">
            <button type="reset" mat-button class="btn btn-light cancel_btn" (click)="cancel()">Cancel</button>
            <button type="submit" mat-button class="btn btn-danger submit_btn" [disabled]="changePassForm.invalid || checkSamePass()"
                (click)="submit()">Change Password</button>
        </div>
    </form>
</div>