.product-card {
    padding: 10px !important;
}
.striked {
    color: #df1744 !important;
    font-size: 14px !important;
    padding-left: 4px !important;
}
.price {
    font-size: 16px !important;
    padding-top: 10px !important;
}
.close {
    float: right !important;

    font-size: 25px !important;
}
.rate {
    font-size: 14px !important;
}
.product-name {
    font-size: 16px !important;
}
.spin {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #eb6260;
}
ion-spinner {
    width: 28px;
    height: 28px;
    stroke: #444;
    fill: #222;
}
