<ion-header>
    <ion-row>
        <ion-col size="12">
            <ion-icon
                (click)="dismiss()"
                class="close"
                name="close-outline"
            ></ion-icon>
        </ion-col>
    </ion-row>
</ion-header>
<div class="spin" *ngIf="isLoading">
    <ion-spinner></ion-spinner>
</div>
<div *ngIf="!isLoading">
    <ion-card class="product-card" >
        <ion-row style="font-size: 20px">
            <ion-label class="product-name">
                {{ productData.name }}
            </ion-label>
            <ion-label class="price">
                Price - ₹ {{ productData.sellingprice
                }}<s class="striked">{{ productData.mrp }}</s>
                <span class="rate">
                    {{
                        calculateOfferPercentage(
                            productData.mrp,
                            productData.sellingprice
                        )
                    }}%off</span
                >
            </ion-label>
        </ion-row>
    </ion-card>
</div>
