.section_div {
    width: 100%;
    padding: 20px 0;
    overflow-x: auto;
    column-gap: 10px;
}

.img {
    width: 50px;
    aspect-ratio: 1 / 1;
    border-radius: 50px;
    margin-bottom: 5px;
}
.text {
    line-height: 1.2;
    font-size: 12px;
}

.categroy_col {
    min-width: 85px;
}

@media screen and (min-width: 540px) {
    .img {
        width: 80px;
        border-radius: 50px;
        margin-bottom: 5px;
    }
}

@media screen and (min-width: 768px) {
    .section_div {
        column-gap: 20px;
    }
    .categroy_col {
        min-width: 100px;
        padding: 0 5px;
    }

    .img {
        // width: 100px;
        border-radius: 100px;
    }
}