<!-- <div class="row mx-0 gap-2 justify-content-between"> -->
<div class="container-fluid">

<div class="top-head">

<div class="col user-pannel   p-0 ratings">

<div class="card">
<div class="headimg">
    <img src="../../assets/images/default-image.jpg" class="img-adjust" alt="classmate">
</div>
<div class="card-body">
    <h3 class="card-title "> Dry Food</h3>
    <div class="top-heads">
     <button class="btn btn-success btn-width instar"><i class="mdi mdi-star"></i>3</button>
        <h3>| 3 reviews</h3>
    </div>
    
    <h3 class="dark">₹249.00 - ₹549.00</h3>
  </div>
</div>
</div> 


<div class="col row mx-0   item_list p-0 ">


<div class="card ratings1">
<div class="card-body">
<h3 class="card-title"> Dry Food</h3>
<div style="display:flex;">

    <div  class="ratings-and-reviews">
        <span style="font-size: 3rem;margin-top: 9%;" class="star-bottom"><i class="mdi mdi-star"></i></span> 
        <div class="rate--num">
            <h4 class="card-title card-star">3</h4>
            <h3> 3 reviews</h3>
        </div>
        
    </div>
</div>
<button type="button" class="btn btn-white rate-product" (click)="rateProduct()" >Rate product</button>
    <!-- <h3 class="rate">3</h3> -->
    <div class="box-rate" >
        <div style="display:flex">
            <div class="top-heads">
             <button class="btn btn-success btn-width instar instar-btn"><i class="mdi mdi-star"></i>3</button>
            </div>
        <!-- <span class="control-icons danger"  style="font-size: 35px;"><i class="mdi mdi-star-box"></i></span> -->
        </div> 
    <div class="top-head top-product" >
        <h3 class="product--name">Edukop Insurance</h3>
    </div>
    <h3 class="product">Good product</h3>
   </div>
<hr>
<div class="box-rate">
    <div style="display:flex">
        <div class="top-heads">
         <button class="btn btn-success btn-width instar instar-btn">
           <span> <i class="mdi mdi-star"></i>3</span>
            </button>
        </div>
    <!-- <span class="control-icons danger"  style="font-size: 35px;"><i class="mdi mdi-star-box"></i></span> -->
    </div> 
<div class="top-head top-product">
    <h3 class="product--name">Edukop Insurance</h3>
</div>
<h3 class="product">Good product</h3>
</div>
<hr>
<div class="box-rate">
    <div style="display:flex">
        <div class="top-heads">
         <button class="btn btn-success btn-width instar instar-btn"><i class="mdi mdi-star"></i>3</button>
        </div>
    <!-- <span class="control-icons danger"  style="font-size: 35px;"><i class="mdi mdi-star-box"></i></span> -->
    </div> 
<div class="top-head top-product">
    <h3 class="product--name">Edukop Insurance</h3>
</div>
<h3 class="product">Good product</h3>
</div>
<hr>
<div class="box-rate">
    <div style="display:flex">
        <div class="top-heads">
         <button class="btn btn-success btn-width instar instar-btn"><i class="mdi mdi-star"></i>3</button>
        </div>
    <!-- <span class="control-icons danger"  style="font-size: 35px;"><i class="mdi mdi-star-box"></i></span> -->
    </div> 
<div class="top-head top-product">
    <h3 class="product--name">Edukop Insurance</h3>
</div>
<h3 class="product">Good product</h3>
</div>
<hr>







         


</div>

</div>
</div>
</div>

</div>