<div class="container-fluid mycartSection py-2">
    <div class="text-center noData" *ngIf="cartProducts.length == 0">
        <img src="../../../assets/images/default-image.png" alt="No Data" style="max-width: 200px;">
        <p class="color-gray">Cart Empty</p>
    </div>
    
    <div class="row mx-md-0" *ngIf="cartProducts.length != 0">
        <div class="col-12 col-sm-7 col-md-7 ">
            <!-- <div class="addressSec py-2">
                <div class="card addressCard border-1 rounded-3">
                    <div class="card-header d-flex flex-wrap align-items-center justify-content-between border-0 px-2">
                        <div class="d-flex">
                            <span class="header_icon">
                                <i class="mdi mdi-map-marker-outline"></i>
                            </span>
                            <div>
                                <h3 class="cardTitle_1">Deliver to</h3>
                                <small class="color-gray">Select Address</small>
                            </div>
                        </div>
    
                        <button class="border-0 format_btn btn_danger p-0 danger me-1" (click)="addressList.length == 0 ? addNewAddress() : selectAddress()">
                            {{addressList.length != 0 ? 'Change Address' : 'Add Address'}}
                        </button>
                    </div>
                    <div class="card-content" *ngIf="defaultAddress || isSelectedAddress">
                        <ng-container *ngIf="defaultAddress">
                            <p class="mb-1">{{defaultAddress.fullName}} <span>+91-{{defaultAddress.phone}}</span></p>
                            <address class="mb-1">{{defaultAddress.address}}, {{defaultAddress.landmark}},{{defaultAddress.city}}, {{defaultAddress.state}} {{defaultAddress.pincode}}</address> 
                        </ng-container>



                        <ng-container *ngIf="isSelectedAddress">
                            <p class="px-2"><small>Select Address</small></p>
                        
                            <mat-radio-group aria-labelledby="address-group" class="address-group" *ngIf="addressList.length != 0">
                                <ng-container *ngFor="let address of addressList">
                                    <div class="mb-3 d-flex justify-content-between">
                                        <mat-radio-button class="address-item-button" [value]="address?.uuid" [checked]="defaultAddress.uuid == address.uuid || address.isSelect === true" (change)="address.uuid ? selectDefaultAddress(address.uuid) : ''">
                                            <div class="pe-2">
                                                <p class="mb-1">{{address.fullName}} <span>+91-{{address.phone}}</span></p>
                                                <address class="mb-1">{{address.address}}, {{address.landmark}},{{address.city}}, {{address.state}} {{address.pincode}}</address>
                                                <span class="addressType badge badge-bg-secondary">Home</span>
                                            </div>
                                        </mat-radio-button>
            
                                        <div class="group_btn d-flex flex-column align-items-stretch">
                                            <button class="editAddress_btn btn-light rounded-2 border-0 py-1" *ngIf="address.uuid" (click)="editAddress(address.uuid)">
                                                <i class="mdi mdi-pencil-outline"></i>
                                                <span>Edit</span>
                                            </button>
                                            <button class="editAddress_btn btn-light rounded-2 border-0 py-1 mt-2" *ngIf="address.uuid" (click)="removeAddress(address.uuid)">
                                                <i class="mdi mdi-delete"></i>
                                                <span>Remove</span>
                                            </button>
                                        </div>
                                    </div>
                                </ng-container>
                            </mat-radio-group>
                        </ng-container>
                    </div>
                    
                    <div class="card-footer" *ngIf="isSelectedAddress">
                        <div class="d-flex justify-content-between align-items-center">
                            <h4 class="danger">Add New Address</h4>
    
                            <button class="btn btn-danger danger" (click)="addNewAddress()">Continue</button>
                        </div>
                    </div>
                </div>
            </div> -->


            <!-- Order summary ---------------------- -->

            <div class="orderSummary py-2">
                <div class="card order_card border-1 rounded-3">
                    <div class="card-header border-0 px-0 px-sm-2">
                        <div class="d-flex align-items-center">
                            <span class="header_icon">
                                <i class="mdi mdi-map-marker-outline"></i>
                            </span>
                            <div>
                                <h3 class="cardTitle_1">Order Summary</h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-content py-2">
                        <ul class="item_list px-0">
                            <li class="order_item d-flex" *ngFor="let product of cartProducts; let i = index;">
                                <div class="product_media">
                                    <img *ngIf="!product.product.isDigital" [src]="(product.product.images != undefined) ? (imageApi + product.product.images[0]) : '../../assets/images/download-png.png'" alt="product" class="product_img">
                                    <img *ngIf="product.product.isDigital" [src]="'../../assets/images/download-png.png'" alt="product" class="product_img">
                                </div>
                                <div class="product_detail d-inline-flex flex-column flex-lg-row justify-content-lg-between">
                                    <div class="data-content">
                                        <p class="product_name fw-5">{{product?.product?.name}}</p>
                                        <!-- <p class="danger sub_desc">Classmate Enterprises</p> -->

                                        <div class="price d-flex align-items-center">
                                            <span class="fw-5 currentPrice">₹ {{product.product.sellingprice * product.quantity}}</span>&nbsp;
                                            <span class="fw-3 px-2 actualPrice">₹ {{product.product.mrp * product.quantity}}</span>&nbsp;
                                            <span class="fw-4 pe-2 discountPer color-success">{{calculateOfferPercentage(product.product.mrp, product.product.sellingprice)}}% off</span>
                                        </div>
                                    </div>

                                    <div class="order_item_activity d-flex flex-lg-column justify-content-between mt-3 mt-lg-0">
                                        <button class="format_btn oreder_remove_btn border-0 rounded-3 px-0" (click)="removeCartProduct(product.productUUID)">
                                            <i class="mdi mdi-delete-outline"></i>
                                            <span class="fw-3 px-1">Remove</span>
                                        </button>

                                        <div class="order_qty d-flex">
                                            <span>Qty:</span>
                                            <mat-select class="qty-select text-gray ms-2" (selectionChange)="onChangeQuantity($event.value, product.product, i)" [(ngModel)]="product.quantity" aria-placeholder="Select">
                                                <mat-option class="qty_txt" *ngFor="let quantity of quantityArray[i]"
                                                [value]="quantity">{{quantity}}</mat-option>
                                            </mat-select>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <!-- ------------------ Price section -------------------- -->

        <div class="col-12 col-sm-5 col-md-5 priceSec py-2">
            <div class="card price_card border-1 rounded-3">
                <div class="card-header border-0 px-0 px-sm-2">
                    <h3>Price Details</h3>
                </div>
                <div class="card-content px-sm-2">
                    <table class="price_table my-1" *ngIf="getCartData">
                        <tbody>
                            <tr>
                                <td><span>Price ({{getCartData.products.length || '0'}} itmes)</span></td>
                                <td class="text-center"><span>-</span></td>
                                <td><span>{{getCartData.totalMrp || '0'}}</span></td>
                            </tr>
                            <tr>
                                <td><span>Discount</span></td>
                                <td class="text-center"><span>-</span></td>
                                <td><span class="discountAmount color-success">- ₹ {{getCartData.discount || '0'}}</span></td>
                            </tr>
                            <tr *ngIf="couponsDetails && couponsDetails.couponDiscount">
                                <td><span>Coupon Discount</span></td>
                                <td class="text-center"><span>-</span></td>
                                <td><span class="discountAmount color-success">- ₹ {{couponsDetails.couponDiscount}}</span></td>
                            </tr>
                            <!-- <tr>
                                <td><span>Shipping Chareges</span></td>
                                <td class="text-center"><span>-</span></td>
                                <td><span>₹ {{ getCartData.totalAmount}}</span></td>
                            </tr> -->
                        </tbody>
                        <tfoot>
                            <tr>
                                <td><span>Total Amount</span></td>
                                <td></td>
                                <td>
                                    <span *ngIf="couponsDetails && couponsDetails?.couponStatus ==='SUCCESS'">₹ {{ couponsDetails.effectiveAmount }}</span>
                                    <span *ngIf="!couponsDetails || couponsDetails?.couponStatus ==='FAILED'">₹ {{ getCartData.totalAmount }}</span>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                    <div class="card coupons_card rounded-3 border-1 mx-auto">
                        <div class="card-header border-0 px-2 d-flex align-items-center justify-content-between" *ngIf="!couponsDetails">
                            <small class="color-gray fw-3">Have coupon code</small>
                            <button class="format_btn coupon_btn danger border-0" (click)="viewCoupons()">View Coupons</button>
                        </div>

                        <ul class="coupons px-0 my-2 mx-2" *ngIf="couponsDetails">
                            <span class="color-gray d-inline-block pb-2">Coupon Applied</span>
                            <li class="couponItem d-flex align-items-center justify-content-between">
                                <div>
                                    <span>
                                        <i class="mdi mdi-tag-multiple-outline mdi-18px mdi-flip-h"></i>
                                    </span>&nbsp;
                                    <span class="danger">{{couponsDetails.couponCode}}</span>
                                </div>
                                <a href="javascript:;" (click)="removeCoupon()" class="link_btn danger removeCouponBtn">Remove</a>
                            </li>
                        </ul>
                    </div>

                    <button class="btn place_order_btn mx-auto btn-danger bg-danger border-0" (click)="placeOrder()">Continue</button>
                </div>
            </div>
        </div>
    </div>

    <div class="recentViewedProduct" *ngIf="cartProducts.length == 0">
        <div class="d-flex flex-wrap">
            <div class="content_sec custom-scrollbar-x d-flex">
                <ng-container *ngIf="recentProducts">
                    <div class="card item_card pointer border-0" *ngFor="let recent of recentProducts.products" (click)="recentlyViewedProducts($event, recent.productUUID)">
                        <div class="card-header border-0 p-0">
                            <img [src]="(recent.product.images && recent.product.images.length != 0)  ? thumbApi + recent.product.images[0] : '../../assets/images/download-png.png'" alt="product pic" class="item_pic">
                        </div>
    
                        <div class="card-content py-2 px-2">
                            <h4 class="item_name">{{recent?.product?.name}}</h4>
                            <p class="price">
                                <span>₹{{recent?.product?.sellingprice}}</span>&nbsp;
                                <small><s class="striked color-gray" *ngIf="recent.product.mrp > recent.product.sellingprice">{{recent.product.mrp}}</s></small>&nbsp;
                                <small class="ofr-text danger" *ngIf="recent.product.mrp > recent.product.sellingprice">{{calculateOfferPercentage(recent.product.mrp, recent.product.sellingprice)}}% off</small>
                            </p>
                        </div>
                        <div class="card-footer text-center mt-auto">
                            <button type="button" class="btn btn-sm btn-outline text-danger" (click)="recent.product != undefined ? addToCart($event, recent.product) : ''">
                                <i class="mdi mdi-cart-outline"></i>
                                Add To Cart
                            </button>
                        </div>
                    </div>
                </ng-container>

                <ng-container *ngIf="wishListData">
                    <div class="card item_card pointer border-0" *ngFor="let product of wishListData.products" (click)="recentlyViewedProducts($event, product.productUUID)">
                        <div class="card-header border-0 p-0">
                            <img [src]="(product.product.images && product.product.images.length != 0)  ? thumbApi + product.product.images[0] : '../../assets/images/download-png.png'" alt="product pic" class="item_pic">
                        </div>

                        <div class="card-content py-2 px-2">
                            <h4 class="item_name">{{product?.product?.name}}</h4>
                            <p class="price">
                                <span>₹{{product?.product?.sellingprice}}</span>&nbsp;
                                <small><s class="striked color-gray" *ngIf="product.product.mrp > product.product.sellingprice">{{product.product.mrp}}</s></small>&nbsp;
                                <small class="ofr-text danger" *ngIf="product.product.mrp > product.product.sellingprice">{{calculateOfferPercentage(product.product.mrp, product.product.sellingprice)}}% off</small>
                            </p>
                        </div>
                        <div class="card-footer text-center mt-auto">
                            <button type="button" class="btn btn-sm btn-outline text-danger" (click)="product.product != undefined ? addToCart($event, product.product) : ''">
                                <i class="mdi mdi-cart-outline"></i>
                                Add To Cart
                            </button>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>

<ngx-spinner type="ball-scale-multiple" [fullScreen]="true"></ngx-spinner>